html			{ margin-top: 1em;
			  width: 75%;
			  margin-left: 4em; }

body			{ font-family: serif;
			  letter-spacing: 1px;
			  line-height: 20px;
			  font-size: 10pt; }

p.nav			{ }

p.edits			{ font-size: smaller;
			  color: #cccccc; }

a			{ color: #0000ff; 
			  text-decoration: none; }

a.term			{ border-bottom: 1px dotted #0000ff; }

a:hover			{ color: #339999; }

h1,
h2,
h3,
h4,
h5			{ font-size: inherit; }

span.cat,
span.file,
span.header,
span.lang,
span.lib,
span.path,
span.term		{ font-style: italic; } 

span.sec		{ font-weight: bolder; }

pre,
div.mdocout,
span.cmd,
span.cmdflag,
span.cmdarg,
span.cmdline,
span.func,
span.macro,
span.macroarg,
span.macroflag,
span.screen,
span.type,
span.value,
span.var		{ font-family: monospace; 
			  line-height: 11pt;
			  font-size: 9pt; } 

span.cmdflag:before,
span.macroflag:before	{ content: "-"; }
span.cmdopt:before	{ content: "["; }
span.cmdopt:after	{ content: "]"; }
span.macroopt:before	{ content: "["; }
span.macroopt:after	{ content: "]"; }
span.func:after		{ content: "()"; }

span.cmdline,
span.screen		{ border: 1px dotted #cccccc; 
			  padding: 2px; 
			  background-color: #eeeeee; }

pre			{ border: 1px dotted #dddddd;
			  padding-left: 1ex;
			  margin-left: 2%; }

dl			{ margin-left: 2%; }

div.mdocout,
div.mdocsyntax		{ border: 1px dotted #dddddd;
			  max-width: 60em; 
			  padding-left: 4%;
			  margin-left: 2%; }

div.mdocout h1		{ font-size: inherit; 
			  margin-bottom: 0px;
			  margin-left: -4%; } 
