html		{ margin-top: 1em;
		  width: 75%;
		  margin-left: 4em; }
body		{ font-family: serif;
		  line-height: 14pt;
		  font-size: 10pt; }
table.nav	{ width: 100%; }
td.nav-contents,
td.nav-history	{ width: 1%; }
td.nav-home,
td.nav-next	{ width: 49%; }
td.nav-home	{ text-align: right; }
td.nav-contents:after,
td.nav-home:after	
		{ content: "\A0|"; }
table.tbl	{ border-spacing: 0px; 
		  border-collapse: collapse;
		  width: 96%;
		  margin-left: auto;
		  margin-right: auto; }
table.tbl td	{ padding-left: 1em; }
p.edits		{ font-size: smaller;
		  color: #cccccc; }
a		{ color: #0000ff; 
		  text-decoration: none; }
a:hover		{ color: #339999; }
a.external 	{ background: transparent url('../external.png') center right no-repeat; 
		  padding-right: 12px; }
div		{ margin-bottom: 1ex; }
blockquote	{ padding-left: 1ex;
		  border-left: 1px solid green; }
dl		{ margin-left: 2%; }
h1		{ margin-left: -3em; }
h2		{ margin-left: -2em; }
h3		{ margin-left: -1em; }
h4		{ margin-left: -1ex; }
h1,
h2,
h3,
h4,
h5		{ font-size: inherit; }
.cat,
.file,
.header,
.lang,
.lib,
.path		{ font-style: italic; } 
.sec		{ font-weight: bolder; }
.cmd,
.cmdflag,
.cmdarg,
.cmdline,
.func,
.macro,
.macroarg,
.macroflag,
.mdocin,
.mdocout,
.mdocsyntax,
.screen,
.type,
.value,
.var		{ font-family: monospace; 
		  font-size: 9pt; } 
.under		{ text-decoration: underline }
a.cmd,
a.macro,
a.term		{ color: #000000;
		  border-bottom: 1px dotted #339999; }
a.cmd:hover,
a.macro:hover,
a.term:hover	{ color: #339999; }
.cmdflag:before,
.macroflag:before 
		{ content: "-"; }
.cmdopt:before	{ content: "["; }
.cmdopt:after	{ content: "]"; }
.macroopt:before 
		{ content: "["; }
.macroopt:after	{ content: "]"; }
.func:after	{ content: "()"; }
.cmdline:before	{ content: "$ "; }
.cmdline,
.screen		{ border: 1px dotted green; 
		  padding: 1px; 
		  background-color: #eeeeee; }
span.cmdline	{ white-space: nowrap; }
div.cmdline,
div.screen,
div.mdocin,
div.mdocout,
div.mdocsyntax	{ border: 1px dotted #dddddd;
		  line-height: 11pt;
		  max-width: 60em; 
		  margin-left: 2%; }
.mdocin,
.mdocsyntax	{ padding: 0.5ex 0 0.5ex 1.0ex; }
.mdocout	{ padding-left: 3ex; }
.mdocout h1	{ font-size: inherit; 
		  margin-bottom: 0px;
		  margin-left: -2ex; } 
.mdocout td	{ vertical-align: top; }
.mdocout table	{ width: 100%; 
		  margin-top: 0ex; 
		  margin-bottom: 0ex; } 
.mdocout blockquote 
		{ margin-left: 5ex; 
		  margin-top: 0ex; 
		  margin-bottom: 0ex; } 
.mdocout div.section
		{ margin-bottom: 2ex; margin-left: 5ex; }
