html		{ margin-top: 1em;
		  width: 75%;
		  margin-left: 4em; }
body 		{ font-family: serif; 
		  line-height: 14pt; 
		  font-size: 10pt; }
a img 		{ border: 0; }
dd 		{ margin-bottom: 2em; }
.cmd, .file 	{ font-style: italic; }
div.sources p   { margin-bottom: 0.25em; }
p.foot 		{ margin-top: 1em; color: #666666; font-size: smaller; }
h1 		{ margin-left: -1.5%; font-size: inherit; }
h2 		{ margin-left: -1.0%; font-size: inherit; }
h3 		{ margin-left: -0.5%; font-size: inherit; }
div#people dd	{ margin-bottom: 0.25em; }
