html,body		{ margin: 0; }
body			{ font-family: monospace; 
			  width: 80%;
			  margin-top: 1em;
			  line-height: 120%;
			  margin-bottom: 1em;
			  margin-left: auto;
			  margin-right: auto;
			  color: #dddddd; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  padding: 0;
			  margin: 0; }
nav[data-sblg-nav] li	{ padding: 0;
			  margin: 0; }
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
body			{ width: 98%; 
			  margin-top: 1ex; 
		 	  margin-bottom: 1ex; }
}

a img			{ border: thin solid #0000ff; }
a:hover img		{ border: thin solid #339999; }
div > div > div,
div > nav div > div,
div > nav div > span:nth-child(+2),
div > div > span:nth-child(+2)	
			{ color: #000000;
			  font-family: Verdana, Tahoma, Arial, sans-serif; }
div > nav div > span:first-child,
div > div > span:first-child
			{ display: inline-block; 
			  width: 5ex; }
div > nav div > div,
div > div > div		{ padding-left: 5ex; }

a.external 		{ background: transparent url(../external.png) center right no-repeat; 
		  	  padding-right: 12px; }
a			{ color: #0000ff; 
			  text-decoration: none; }
a:hover			{ text-decoration: underline; }
span.h1			{ font-weight: bolder; }
span.h2			{ font-weight: bolder; }
span.ver		{ font-style: italic; }
#copy			{ font-size: smaller; 
			  color: #999; }
#copy a			{ color: #111; }
#copy a:hover		{ text-decoration: underline; }
