html		{ margin-top: 0em;
		  margin-left: 2em;
		  max-width: 80%;
		  min-width: 580px; }

a img		{ border: thin solid #0000ff; }
a:hover img	{ border: thin solid #339999; }

span.inv,
div.inv,
body		{ font-family: monospace; 
		  line-height: 11pt;
		  font-size: 9pt;
		  color: #dddddd; }

span,
div		{ color: #000000;
		  font-size: 9pt;
		  font-family: Verdana, Tahoma, Arial, sans-serif; }

a.external 	{ background: transparent url(../external.png) center right no-repeat; 
		  padding-right: 12px; }

a		{ color: #0000ff;
		  text-decoration: none; }

a:hover		{ color: #339999; }

span		{ padding-left: 0em;
		  margin-left: 2em; }

div		{ margin-left: 4em;
		  padding-left: 0.5em; }

span.h1		{ font-weight: bolder;
		  margin-left: 0em; }

span.h2		{ font-weight: bolder;
		  margin-left: 1em; }

span.part	{ }
span.chap	{ padding-left: 2em; }
span.sec	{ padding-left: 4em; }
span.ver	{ margin-left: 0em; font-style: italic; }
