html		{ }
body		{ font-family: serif;
		  letter-spacing: 1px;
		  line-height: 14pt;
		  font-size: 10pt; }
.nav		{ display: none; }
table.tbl	{ border-spacing: 0px; 
		  border-collapse: collapse;
		  width: 96%;
		  margin-left: auto;
		  margin-right: auto; }
table.tbl td	{ padding-left: 1em; }
p.edits		{ display: none; }
a		{ color: #0000ff; 
		  text-decoration: none; }
a:hover		{ color: #339999; }
a.external 	{ background: transparent url('../external.png') center right no-repeat; 
		  padding-right: 12px; }
div		{ margin-bottom: 1ex; }
blockquote	{ padding-left: 1ex;
		  border-left: 1px solid green; }
dl		{ margin-left: 2%; }
h1,
h2,
h3,
h4,
h5		{ font-size: inherit; }
.cat,
.file,
.header,
.lang,
.lib,
.path		{ font-style: italic; } 
.sec		{ font-weight: bolder; }
.cmd,
.cmdflag,
.cmdarg,
.cmdline,
.func,
.macro,
.macroarg,
.macroflag,
.mdocin,
.mdocout,
.mdocsyntax,
.screen,
.type,
.value,
.var		{ font-family: monospace; 
		  font-size: 8pt; } 
div.mdocin,
div.mdocout,
div.mdoc	{ font-size: 7pt;
		  line-height: 9pt; }
.under		{ text-decoration: underline }
.term		{ border-bottom: 1px dotted #0000ff; }
.cmdflag:before,
.macroflag:before	
		{ content: "-"; }
.cmdopt:before	{ content: "["; }
.cmdopt:after	{ content: "]"; }
.macroopt:before
		{ content: "["; }
.macroopt:after	{ content: "]"; }
.func:after	{ content: "()"; }
.cmdline:before	{ content: "$ "; }
.cmdline,
.screen		{ border: 1px dotted green; 
		  padding: 2px; 
		  background-color: #eeeeee; }
.mdocin,
.mdocout,
.mdocsyntax	{ border: 1px dotted #dddddd;
		  max-width: 60em; 
		  margin-left: 2%; }
.mdocin,
.mdocsyntax	{ padding: 0.5ex 0 0.5ex 1.0ex; }
.mdocout	{ padding-left: 3ex; }
.mdocout h1	{ font-size: inherit; 
		  margin-bottom: 0px;
		  margin-left: -2ex; } 
.mdocout td	{ vertical-align: top; }
.mdocout table	{ width: 100%; 
		  margin-top: 0ex; 
		  margin-bottom: 0ex; } 
.mdocout blockquote
		{ margin-left: 5ex; 
		  margin-top: 0ex; 
		  margin-bottom: 0ex; } 
.mdocout div.section
		{ margin-bottom: 2ex; 
		  margin-left: 5ex; }
