body		{ font-family: monospace; 
		  margin-left: 2em;
		  color: #dddddd;
		  min-width: 580px; }

.nvis		{ color: #dddddd; }

.offs		{ margin-left: 0px; }

q		{ color: #000000; }

span		{ color: #000000; 
		  margin-left: 2ex; }

div		{ margin-left: 6ex;
		  color: #000000; 
		  max-width: 80ex; }

span.h1		{ font-weight: bolder; 
		  margin-left: 0ex; }

span.h2		{ font-weight: bolder; 
		  margin-left: 1ex; }

span.em		{ font-style: italic; }

a		{ color: #0000ff;
		  margin-left: 2ex; 
		  text-decoration: none; }

a:hover		{ color: #339999; }

col.left	{ width: 35ex; }

table		{ width: 100%;
		  border-spacing: 0px; }

td		{ padding: 0px;
		  margin: 0px; }
