@import 'all.css';

body		{ color: #333333;
		  font-size: 0.80em;
		  padding-top: 1em;
		  min-width: 580px;
		  font-family: Verdana, Tahoma, Arial, sans-serif; }

.foot		{ border-top: 1px dotted #dddddd;
		  padding-top: 0.5em;
		  text-align: right;
		  color: #666666;
		  font-size: smaller; }

.head		{ border-bottom: 1px dotted #dddddd; 
		  margin-bottom: 2em;
		  padding-bottom: 0.2em;
		  text-align: right; }

div		{ margin-bottom: 1em; }

li		{ margin-left: 2em; }

p		{ margin-left: 2em; }

h1,
h2		{ font-size: 1.0em; }

p.code		{ border: 1px dotted #dddddd;
		  color: #000000;
		  background-color: #eeeeee;
		  font-size: larger;
		  font-family: monospace;
		  padding: 2px; }

.path,
.file		{ font-family: monospace;
		  font-size: larger; }
